@import url("https://azure-ui.netlify.app/main.css");

* {
  box-sizing: revert;
  margin: auto;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card-container {
  display: flex;
  justify-items: stretch;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.img-container {
  width: 20rem;
}

#form {
  margin: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  border: 2px solid black;
  display: flex;
  gap: 1rem;
  width: 20rem;
  justify-items: flex-start;
}

label {
  margin-right: 2rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
